<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1">
    <display-name>IntelliRec</display-name>
    
    
    <servlet>
        <servlet-name>TravelSearchServlet</servlet-name>
        <servlet-class>com.intellirec.servlet.TravelSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TravelSearchServlet</servlet-name>
        <url-pattern>/travel-search</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MarketSearchServlet</servlet-name>
        <servlet-class>com.intellirec.servlet.MarketSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MarketSearchServlet</servlet-name>
        <url-pattern>/market-search</url-pattern>
    </servlet-mapping>
    

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
